<footer>
    <div class="footer">
        <div>&copy; IMet Private Limited</div>
        <div class="links-footer">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
        </div>
            <div class="social-links">
                <i class="ri-instagram-fill"></i>
                <i class="ri-linkedin-box-fill"></i>
                <i class="ri-facebook-box-fill"></i>
            </div>
    </div>
</footer>