<% layout("/layouts/boilerplate.ejs") %>
<body>
   
    <div class="row">
        <div class="col-8 offset-2">
            <h2>Create A new Listing</h2> 
             <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">             <!--  enctype="multipart/form-data" ====> for image upload -->
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" name="listing[name]" id="name" placeholder="Enter Your Name" required class="form-control">
                    <div class="invalid-feedback">
                        Please enter your name.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="profession" class="form-label">Profession</label>
                    <textarea type="text" name="listing[profession]" id="profession" required placeholder="Enter Your Profession"  rows="6" cols="12" class="form-control"> </textarea>
                    <div class="invalid-feedback">
                        Profession should be valid.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload your photo</label>
                    <input type="file" name="listing[image]" id="image" class="form-control" required>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price/hour</label>
                        <input type="number" min="0" name="listing[price]" id="price" placeholder="Enter Your charge per hour" class="form-control" required>
                        <div class="invalid-feedback">
                            Price should be valid.
                        </div>
                    </div>
    
    
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" id="country" placeholder="Enter Your Country" class="form-control" required>
                        <div class="invalid-feedback">
                            Country name should be valid.
                        </div>
                    </div>
                </div>
                

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" id="location" placeholder="Enter Your Location" class="form-control" required>
                    <div class="invalid-feedback">
                        Enter a valid location.
                    </div>
                </div>

                
            
                
            
                <button type="submit" class="btn btn-success mb-3">ADD</button>
            </form>
    </div>
  </div>
    <!-- here the feilds are setted in the object(listing) with keys in it directly -->
</body>
