<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
<div class="alert alert-danger col-md-6 offset-md-3 offset-sm-2" role="alert">
    <h4 class="alert-heading"><%= message %></h4>
  </div>

  <div class="image-alerts mt-3 col-md-3 offset-md-4 mb-3">
    <img src="/images/error.jpeg" alt="ERROR">
  </div>
</div>  

