<% layout("/layouts/boilerplate.ejs") %>

<div class="row mt-3">
    <h1 class="col-md-6 offset-md-3 col-10 offset-1">SignUp on IMet</h1>
    <div class="col-md-6 offset-md-3 col-10 offset-1">
        <form method="post" action="/users/signup" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">username</label>
                <input type="text" name="username" id="username"  required class="form-control">
                <div class="invalid-feedback">
                    Username is required*.
                </div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" id="email"  required class="form-control">
                <div class="invalid-feedback">
                    Email should be valid.
                </div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">password</label>
                <input type="password" name="password" id="password"  required class="form-control">
                <div class="invalid-feedback">
                    Please enter your password.
                </div>
            </div>
            <button class="btn btn-success">SignUp</button>
        </form>
    </div>
</div>


<!-- no need for server validation this form it's handeled by passport through flash messages -->